

/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #963;}
a:hover {color: #C60;}

body {
	background: #FFF url(img/bg.jpg) repeat-x left bottom;
color: #444;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* structure */
.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 780px;
}

/* header */
.top {
	background: url(img/clouds.gif) repeat-x;
	padding: 50px 10px 0;
}

/* title */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 20px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 780px;
}
.header .left, .header .right {
	background: #A4A4A0;
	color: #FFF;
	height: 150px;	
}
.header .left {
	background: #D1DADD  no-repeat;
	font: normal 2.0em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 780px;
}
.header .topmenu {
	background: #E0E0FF  no-repeat;
	font: normal 1.0sem "Trebuchet MS",sans-serif;
	line-height: 30px;
	text-align: left;	
	width: 780px;
	padding: 0;
	margin:auto;
	float:right;
	text-align:right;
}
.header .right {
	overflow: auto;
	width: 212px;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}

/* navigation */
.navigation {	
	background: #D9E1E5 url(img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 10px;
	text-decoration: none;
}
.left {
	background: #EBEBFA  no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 780px;

}

.datetime {
	background: #EBEBFA  no-repeat;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 1200px;
	
}

.loginuser {
	background: #EBEBFA  no-repeat;
	font: normal 1.0em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 780px;
	margin:auto;
	float:right;
}
.breadcrumb {
	background: #D6D6F5  no-repeat;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: left;	
	width: 780px;
}

.navigation a.current {background-position: left bottom; color: #234;}


.navigation a:hover {background-position: left bottom; color: #234;}

.rounded {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #EBEBFA;
		height:auto;
		width:775px;
	    
}
.roundedpages {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #EBEBFA;
		height:440px;
		width:600px;
	    padding: 10px 10px;
	    left-margin:10px;
}
.roundedcolor {
		background: #EBEBFA;
	    
}
.roundedrectangle {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #FFFFF ;
		height:30px;
		width:200px;
		
	    
}
.right{
float:right;
}


select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
		border-top-left-radius:0px
	    background-color : #FFFFFF;
}	

select.rounded:focus {
	background-color : #FFFF94;
	}

select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
	    background-color : #FFFFFF;
}	
input.dull {
		color : #B2B2B2;
	    
}	
input.roundedrectangle:focus {
	background-color : #FFFF94;
	}
/* main */
.main {
	border-top: 4px solid #FFF;
	background: url(img/bgmain.gif) repeat-y;
}

/* sub navigation */
.sidenav {
	float: left;
	width: 210px;
}
.sidenav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 22px;
	margin: 0;
	padding-left: 12px;
}
.sidenav ul {
	padding: 10px;
	border-top: 1px solid #EAEADA;
      
}
.sidenav li {border-bottom: 1px solid #EAEADA;}
.sidenav li label {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 8px 8px 5%;
	text-decoration: none;
	width: 100%;
    margin-right: 18px;
}
.sidenav li label:hover {
	background: #FFFF94;
	color: #654;	
}


/* content */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 5px;
	width: 1200px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}

/* footer */
.footer {
	background: url(images/templatemo_footer.jpg);
	color: #FFF;
	font: bold 0.8em ;
	line-height: 39px;
	text-align: center;
	position:fixed;
	width:100%;
	height:40px;
	padding:5px;
	bottom:0px; 
}
.textlabel{
	font: bold 1.0em sans-serif;
	text-align: center;
	word-wrap:break-word;
}
.textlabelpopup{
	font: bold 1.0em sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding:0 5px;

}
.footer a,.footer a:hover {color: #FFF;}

.roundedbutton input  {
	background: url(img/button-inactive.png);
	height:25px;
	width:auto;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 1.0em sans-serif;
	line-height: 30px;
	padding: 0 5px;`
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	cursor:pointer;
}
.roundedbutton input.current {background: #D9E1E5 url(img/button-active.png);}


.roundedbutton input:hover {background: #D9E1E5 url(img/button-active.png);}




.roundedtab p.current {background:  url(img/tab-active.png);}


.roundedtab p:hover {background:url(img/tab-active.png);}
.roundedtab p  {
	background: url(img/tab-inactive.png);
	height:150px;
	width:140px;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.4em sans-serif;
	line-height: 41px;
	padding: 0px 0px;`
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
}
iframe{
border: none;
height:auto;
width:auto;
}
.menuleft {

	font: bold 2.3em sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 1200px;

}



.right{
float:right;
}



.menuroundedtab p.current {background:  url(img/tab-active.png);}


.menuroundedtab p:hover {background:url(img/tab-active.png);}
.menuroundedtab p  {
	background: url(img/tab-inactive.png);
	height:150px;
	width:140px;
	border-right: 1px solid #AFBEC7;
	
	display: block;
	float: left;
	font: bold 0.7em sans-serif;
	line-height: 41px;
	padding: 0px 5px;`
	text-decoration: none;
	margin:2px;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
}
.padding{
	padding-left: 70px;

}
.right {float: right;}
.ajaxloader{
	background: url(img/ajax-loader.gif);
	height:20px;
	width:226px;
	margin:auto;
}
.web_dialog_overlay
        {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .30;
            filter: alpha(opacity=30);
            -moz-opacity: .40;
            z-index: 101;
            display: none;
        }
        .web_dialog
        {
            display: none;
            position: fixed;
            width: 380px;
            height: auto;
            top: 30%;
            left: 50%;
            margin-left: -190px;
            margin-top: -100px;
            background-color: #EBEBFA;
            border-radius: 4px;
			box-shadow: 2px 2px 3px #666;
            padding: 0px;
            z-index: 102;
            font-family: sans-serif;
            font-size: 10pt;
        }
        .web_dialog_title
        {
            border-bottom: solid 2px #336699;
            background-color: #336699;
            padding: 4px;
            color: White;
            font-weight:bold;
        }
        .web_dialog_title a
        {
            color: White;
            text-decoration: none;
        }
        .align_right
        {
            text-align: right;
        }
        
 .close{
 	background: url(img/Close_Box_Red.png);
	height:25px;
	width:25px;
	margin:auto;
 }
 
 .closealert{
 	background: url(img/Close_Box_Red.png);
	height:25px;
	width:25px;
	margin-top:3px;
	margin-right:-8px;
	cursor:pointer;
 }
