

/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #963;}
a:hover {color: #C60;}

body {
	
	color: #444;
	font: normal 62.5% Tahoma,sans-serif;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* structure */
.headerContainer {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 10px;
	width: 1050px;
}

/* header */
.top {
	background: url(img/clouds.gif) repeat-x;
	padding: 11px 10px 0;
}

/* title */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 20px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 1050px;
}
.header .left, .header .right {
	background: #A4A4A0;

	height: 150px;	
}
.header .left {
	background: #D1DADD  no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 132px;
	text-align: center;	
	width: 1050px;
}
.header .topmenu {
	background: #E0E0FF  no-repeat;
	font: normal 1.0sem "Trebuchet MS",sans-serif;
	line-height: 30px;
	text-align: left;	
	width: 1050px;
	padding: 0;
	margin:auto;
	float:right;
	text-align:right;
}
.header .right {
	overflow: auto;
	width: 212px;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}

/* navigation */
.headernavigation {	
	background: #D9E1E5 url(img/nav.gif);
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 33px;
}
.headernavigation a,.headernavigation label{
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 33px;
	padding: 0 10px;
	text-decoration: none;
}
.left {
	background: #EBEBFA  no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 1050px;

}

.datetime {
	background: #EBEBFA  no-repeat;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 1050px;
	
}

.loginuser {
	background: #EBEBFA  no-repeat;
	font: normal 1.0em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 1050px;
	margin:auto;
	float:right;
}
.breadcrumb {
	background: #D6D6F5  no-repeat;
	font: normal 1.1em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: left;	
	width: 1050px;
}

.navigation a.current {background-position: left bottom; color: #234;}


.navigation a:hover {background-position: left bottom; color: #234;}

.rounded {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #EBEBFA;
		height:auto;
		width:775px;
	    
}.roundedcolor {
		background: #EBEBFA;
	    
}
.roundedrectangle {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #FFFFF ;
		height:30px;
		width:200px;
		
	    
}
.right{
float:right;
}


select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
		border-top-left-radius:0px
	    background-color : #FFFFFF;
}	

select.rounded:focus {
	background-color : #FFFF94;
	}

select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
	    background-color : #FFFFFF;
}	
input.dull {
		color : #B2B2B2;
	    
}	
input.roundedrectangle:focus {
	background-color : #FFFF94;
	}
/* main */
.main {
	border-top: 4px solid #FFF;
	background: url(img/bgmain.gif) repeat-y;
}

/* sub navigation */
.sidenav {
	float: left;
	width: 210px;
}
.sidenav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 22px;
	margin: 0;
	padding-left: 12px;
}
.sidenav ul {
	padding: 10px;
	border-top: 1px solid #EAEADA;
      
}
.sidenav li {border-bottom: 1px solid #EAEADA;}
.sidenav li label {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 8px 8px 5%;
	text-decoration: none;
	width: 100%;
    margin-right: 18px;
}
.sidenav li label:hover {
	background: #FFFF94;
	color: #654;	
}


/* content */
.headerContent {
	float: left;
	margin: -1``px 0;
	padding: 0 0px;
	width: 1050px;
}
.headerContent .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.headerContent li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}
.headerContent p {font-family: "Lucida Sans Unicode",sans-serif;}

/* footer */

.textlabel{
	font: bold 0.8em sans-serif;
	text-align: center;
	word-wrap:break-word;
}
.footer a,.footer a:hover {color: #FFF;}

.roundedbutton input  {
	background: url(img/button-inactive.png);
	height:25px;
	width:auto;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.8em/41px sans-serif;
	line-height: 30px;
	padding: 0 5px;`
	text-decoration: none;
	margin:5px;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	cursor:pointer;
}
.roundedbutton input.current {background: #D9E1E5 url(img/button-active.png);}


.roundedbutton input:hover {background: #D9E1E5 url(img/button-active.png);}




.roundedtab p.current {background:  url(img/tab-active.png);}


.roundedtab p:hover {background:url(img/tab-active.png);}
.roundedtab p  {
	background: url(img/tab-inactive.png);
	height:140px;
	width:140px;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.4em sans-serif;
	line-height: 41px;
	padding: 0px 0px;`
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
}
iframe{
border: none;
height:auto;
width:auto;
}
.textlabeluser{
	font: bold 1.0em sans-serif;
	text-align: center;
	word-wrap:break-word;

}
.textlabelheader{
	font: bold 1.0em sans-serif;
	text-align: center;
	word-wrap:break-word;
	cursor:pointer;
}
.textlabelheader label:hover{
 background:#D9E1E5;
}
.textlabeltime{
	font: bold 1.2em sans-serif;
	text-align: right;
	word-wrap:break-word;
}
.logout{
	background:url(img/logout.png) no-repeat;
	width:20px;
	align:left;
	}
.scroll
{
height:500px; 
overflow-y:auto;
overflow-x:hidden;
position:relative;

} 
.topMenuBackground {
	background: url(images/templatemo_footer.jpg);
	color: #FFF;
	font: bold 1em sans-serif;
	line-height: 40px;
	
}