

/* standard elements */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

a {color: #963;}
a:hover {color: #C60;}

body {
	background: #CCD8E0 url(img/bg.jpg)  repeat-x left bottom;
color: #444;
}

p,code,ul {padding-bottom: 1.2em;}

li {list-style: none;}

h1 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

blockquote {
	background: url(img/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}

h1,h2,h3 {padding-top: 6px;}

/* misc */
.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* structure */
.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 3px 10px;
	width: inherit;
	height:inherit;
}

/* header */
.top {
	background: url(img/clouds.gif) repeat-x;
	padding: 50px 10px 0;
}

/* title */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 20px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 1050px;
}
.header .left, .header .right {
	background: #A4A4A0;
	color: #FFF;
	height: 150px;	
}
.header .left {
	background: #D1DADD  no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 1050px;
}
.header .topmenu {
	background: #E0E0FF  no-repeat;
	font: normal 1.0sem "Trebuchet MS",sans-serif;
	line-height: 30px;
	text-align: left;	
	width: 1050px;
	padding: 0;
	margin:auto;
	float:right;
	text-align:right;
}
.header .right {
	overflow: auto;
	width: 212px;
}
.header .right p,.header .right h2 {padding: 0 16px;}
.header .right h2 {padding-top: 16px; font: normal 1.6em "Trebuchet MS",sans-serif;}

/* navigation */
.navigation {	
	color: #ffff;
	background: url(images/templatemo_middle.jpg) center top;
	font: normal 1.0sem "Trebuchet MS",sans-serif;
	border: 1px solid #DFEEF7;
	border-color: #DFEEF7 #CFDEE7;
	height: 41px;
}
.navigation a {
	background: #D9E1E5 url(img/nav.gif);
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font: bold 1.1em sans-serif;
	line-height: 41px;
	padding: 0 10px;
	text-decoration: none;
}
.left {
	background: #EBEBFA  no-repeat;
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 1050px;

}

.datetime {
	background: #EBEBFA  no-repeat;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 1200px;
	
}

.loginuser {
	background: #EBEBFA  no-repeat;
	font: normal 1.0em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: right;	
	width: 1050px;
	margin:auto;
	float:right;
}
.breadcrumb {
	background: #D6D6F5  no-repeat;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	line-height: 20px;
	text-align: left;	
	width: 1050px;
	padding: 6px;
}

.navigation a.current {background-position: left bottom; color: #234;}


.navigation a:hover {background-position: left bottom; color: #234;}

.rounded {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #EBEBFA;
		height:auto;
		width:775px;
	    
}
.roundedpages {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #EBEBFA;
		height:310px;
		width:814px;
	    padding: 10px 10px;
	    left-margin:10px;
}
.roundedcolor {
		background: #EBEBFA;
	    
}
.roundedrectangle {
		border:0px solid #666;
		border-color:#666;
		color : #FFFFF;
		border-radius: 4px;
		box-shadow: 2px 2px 3px #666;
		background: #FFFFF ;
		height:30px;
		width:200px;
		
	    
}
.right{
float:right;
}


select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
		border-top-left-radius:0px
	    background-color : #FFFFFF;
}	

select.rounded:focus {
	background-color : #FFFF94;
	}

select.rounded {
		border:0px solid #666;
		border-radius: 4px;
		box-shadow: 3px 2px 3px #666;
		font-size: 15px;
	    padding: 4px 7px;
	    outline: 0;
		height:30px;
		width:200px;
	    background-color : #FFFFFF;
}	
input.dull {
		color : #B2B2B2;
	    
}	
input.roundedrectangle:focus {
	background-color : #FFFF94;
	}
/* main */
.main {
	border-top: 4px solid #FFF;
	background: url(img/bgmain.gif) repeat-y;
}

/* sub navigation */
.sidenav {
	float: left;
	width: 210px;
}
.sidenav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 22px;
	margin: 0;
	padding-left: 12px;
}
.sidenav ul {
	padding: 10px;
	border-top: 1px solid #EAEADA;
      
}
.sidenav li {border-bottom: 1px solid #EAEADA;}
.sidenav li label {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 8px 8px 5%;
	text-decoration: none;
	width: 100%;
    margin-right: 18px;
}
.sidenav li label:hover {
	background: #FFFF94;
	color: #654;	
}

.sidenav label:hover {
	background: #FFFF94;
	color: #654;	
}

.sidenav span:hover {
	background: #FFFF94;
	color: #654;	
}

.spanCurrent {
	background: #FFFF94;
	color: #654;	
}
/* content */
.content {
	float: left;
	margin: 10px 0;
	padding: 0 5px;
	width: 1200px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(img/li.gif);
	margin-left: 18px;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}

/* footer */
.footer {
	background: url(images/templatemo_footer.jpg);
	color: #FFF;
	font: bold 0.8em 
	line-height: 39px;
	text-align: center;
	position:fixed;
	width:100%;
	height:25px;
	padding:5px;
	bottom:0px; 
}
.textlabel{
	font: bold 0.8em sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding: 0 8px;
}
.footer a,.footer a:hover {color: #FFF;}

.roundedbutton input  {
	background: url(img/button-inactive.png);
	height:25px;
	width:auto;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.8em sans-serif;
	line-height: 30px;
	padding: 0 5px;`
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	cursor:pointer;
}
.roundedbutton input.current {background: #D9E1E5 url(img/button-active.png);}


.roundedbutton input:hover {background: #D9E1E5 url(img/button-active.png);}




.roundedtab p.current {background:  url(img/tab-active.png);}


.roundedtab p:hover {background:url(img/tab-active.png);}
.roundedtab p  {
	background: url(img/tab-inactive.png);
	height:150px;
	width:140px;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.4em sans-serif;
	line-height: 41px;
	padding: 0px 0px;`
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
}
iframe{
border: none;
height:auto;
width:auto;
}
.menuleft {

	font: bold 2.3em sans-serif;
	line-height: 150px;
	text-align: center;	
	width: 1200px;

}



.right{
float:right;
}



.menuroundedtab p.current {background:  url(img/tab-active.png);}


.menuroundedtab p:hover {background:url(img/tab-active.png);}
.menuroundedtab p  {
	background: url(img/tab-inactive.png);
	height:160px;
	width:167px;
	border-right: 1px solid #AFBEC7;
	
	display: block;
	float: left;
	font: bold 0.7em sans-serif;
	line-height: 41px;
	padding: 0px 2px;`
	text-decoration: none;
	margin:0px;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
	cursor:pointer;
}
.padding{
	padding-left: 70px;

}
.right {float: right;}


.ajaxloader{
	background: url(img/ajax-loader.gif);
	height:20px;
	width:226px;
	margin:auto;
}
.web_dialog_overlay
        {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: #000000;
            opacity: .30;
            filter: alpha(opacity=30);
            -moz-opacity: .40;
            z-index: 101;
            display: none;
        }
        .web_dialog
        {
            display: none;
            position: fixed;
            width: 380px;
            height: auto;
            top: 30%;
            left: 50%;
            margin-left: -190px;
            margin-top: -100px;
            background-color: #EBEBFA;
            border-radius: 4px;
			box-shadow: 2px 2px 3px #666;
            padding: 0px;
            z-index: 102;
            font-family: sans-serif;
            font-size: 10pt;
        }
        .web_dialog_title
        {
            border-bottom: solid 2px #336699;
            background-color: #336699;
            padding: 4px;
            color: White;
            font-weight:bold;
        }
        .web_dialog_title a
        {
            color: White;
            text-decoration: none;
        }
        .align_right
        {
            text-align: right;
        }
        
 .close{
 	background: url(img/Close_Box_Red.png);
	height:25px;
	width:25px;
	margin:auto;
 }
 
 .report
{
font:   1.2em sans-serif;
height:280px; 
overflow-y:auto;
overflow-x:hidden;
width:200px;


} 

.delete
{
background: url(img/1374108496_delete.png);
height:7px;
width:2px;
margin-left:3px;
}
.sidenav tr {
 	background-color: #C8C8C8;
	font-size: 0.8em;
	color: #554;
	display: block;
	padding: 4px 4px 4px 5%;
	text-decoration: none;
	width: 100%;
    
}
.sidenav tr:hover {
	background:url(img/tab-active.png);
	color: #654;	
}

.sidenavcurrent{
	background:url(img/tab-active.png);
	color: #654;	
	}
	
.roundedtableft p.current {background:  url(img/tab-active.png);}


.roundedtableft p:hover {background:url(img/tab-active.png);}
.roundedtableft p  {
	background: url(img/tab-inactive.png);
	height:140px;
	width:200px;
	border-right: 1px solid #AFBEC7;
	color: #234;
	display: block;
	float: left;
	font:  bold 0.4em sans-serif;
	line-height: 41px;
	padding: 0px 0px;
	text-decoration: none;
	margin:auto;
	border:0px solid #666;
	border-color:#666;
	border-radius: 4px;
	box-shadow: 2px 2px 3px #666;
	word-wrap:break-word;
}
.inactive{
background-color: #DEDEDE;
}


.alt{
    background-color: #E5E5E5;
    color: #000000;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 0.8em;
	padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}
.row{
    background-color: #FFFFFF;
    color: #000000;
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 0.8em;
	padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}
.tableContentClass {
    border-collapse: collapse;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 100%;
	font-size: 1.0em;
	padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
   
}
 
.report{
	 
	
	}
.theadClass{
    background-color: #75A3FF;
    color: #FFFFFF;

 position:absolute;
}
.sortUpArrow{
	background: url(img/sortAsc.png);
	height:3px;
	width:3px;
	}
.sortDownArrow{
	background: url(img/sortDsc.png);
	height:3px;
	width:3px;
	}	
	
	
	.outer {
padding:4em 0 3em 0;
width:54em;
background:#eee;
margin:0 auto 3em auto;
}
.innera {
overflow:auto;
width:54em;
height:320px;
background:#eee;
}
.outerTableCaption {
width:62.2em;
text-align:left;
height:1.5em;
background:#C8C8C8;
border:0.1em solid #fff;
color:#fff;
}
.outerTheadTr {
top:1.5em;
height:1.5em;
left:0;
width:100%;
background:#75A3FF;
}
.outer tfoot td {
position:absolute;
width:51.5em;
text-align:center;
background:#f0c992; 
border:0.1em solid #000;
color:#000;
bottom:0;
left:0
}
.outer td {
width:27em; 
text-align:left;
}
.outer th {
background:#75A3FF;
width:20em;  
color:#fff;}
.outer .dk {background:#fff;
}




.tableone caption {background:#fff;  font-size:1.2em; margin:0 auto;}
.tableone th {text-align:left;width:7em;}
.tabletwo caption {background:#fff;  font-size:1.2em; margin:0 auto;}
.tabletwo th {text-align:left;width:20em;}

.innerb {height:10em; overflow:auto;}
.disabledClass{
opacity:0.4;
filter:alpha(opacity=40);
}

.textlabelPopup{
	font: 1.0em sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding: 0 8px;
}
.cursor{
cursor:pointer;	
}


.addIcon{
	background: url(img/Addicon.png) no-repeat;
	text-align: right;
	}

	
/* Report sub navigation */
.reportSidenav {
	float: left;
	width: 400px;
}
.reportSidenav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 22px;
	margin: 0;
	padding-left: 12px;
}
.reportSidenav ul {
	padding: 10px;
	border-top: 1px solid #EAEADA;
      
}
.reportSidenav li {border-bottom: 1px solid #EAEADA; margin :10px;}
.reportSidenav li label {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 8px 8px 5%;
	text-decoration: none;
	width: 100%;
    margin-right: 18px;
}


.wizardOverflow{
height:410px; 
overflow-y:auto;
overflow-x:hidden;
}

.labelfont{
	font:  0.8em sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding: 0 3px;
}.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 3px 10px;
	width: inherit;
	height:inherit;
}

.page {
	width: 15.5cm;
    min-height: 22.7cm;
}
hr{
	color: #d9d9d9;
}	
.labelsubfont{
	font:  9px sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding: 0 3px;	
}

.textview{
	font:  0.8em sans-serif;
	text-align: center;
	word-wrap:break-word;
	padding: 0 8px;
}	